In [ ]:
!pip install transformers
!pip install taipy

import tensorflow as tf
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import time
from transformers import AutoTokenizer
from taipy.gui import Gui
from tensorflow import keras
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras import layers
from sklearn.utils import shuffle

Requirement already satisfied: transformers in c:\users\teolu\anaconda3\lib\site-packages (4.27.3)
Requirement already satisfied: filelock in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (3.6.0)
Requirement already satisfied: requests in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (2.28.1)
Requirement already satisfied: numpy>=1.17 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (1.21.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (0.13.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (4.64.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (0.13.3)
Requirement already satisfied: packaging>=20.0 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (21.3)
Requirement already satisfied: regex!=2019.12.17 in c:\users\teolu\anaconda3\lib\site-packages (from transformers) (2022.7.9)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\teolu\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\teolu\anaconda3\lib\site-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: colorama in c:\users\teolu\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\teolu\anaconda3\lib\site-packages (from requests->transformers) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\teolu\anaconda3\lib\site-packages (from requests->transformers) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\teolu\anaconda3\lib\site-packages (from requests->transformers) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\teolu\anaconda3\lib\site-packages (from requests->transformers) (2.0.4)
Requirement already satisfied: taipy in c:\users\teolu\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: taipy-gui<2.3,>=2.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy) (2.2.1)
Requirement already satisfied: taipy-rest<2.3,>=2.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy) (2.2.1)
Requirement already satisfied: gevent-websocket<0.11,>=0.10.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (0.10.1)
Requirement already satisfied: gitignore-parser<0.2,>=0.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (0.1.3)
Requirement already satisfied: flask-socketio<6.0,>=5.3.0 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (5.3.3)
Requirement already satisfied: markdown<4.0,>=3.4.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (3.4.3)
Requirement already satisfied: pytz<2022.2,>=2021.3 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (2022.1)
Requirement already satisfied: simple-websocket<1.0,>=0.9 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (0.10.0)
Requirement already satisfied: gevent<23.0,>=22.10.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (22.10.2)
Requirement already satisfied: pandas<2.0,>=1.5.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (1.5.3)
Requirement already satisfied: tzlocal<5.0,>=3.0 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (4.3)
Requirement already satisfied: taipy-config<3.0,>=2.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (2.2.0)
Requirement already satisfied: flask-cors<4.0,>=3.0.10 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (3.0.10)
Requirement already satisfied: python-dotenv<0.21,>=0.19 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (0.20.0)
Requirement already satisfied: flask<2.3,>=2.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (2.2.4)
Requirement already satisfied: kthread<0.3,>=0.2.3 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-gui<2.3,>=2.2->taipy) (0.2.3)
Requirement already satisfied: apispec-webframeworks<0.6,>=0.5.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (0.5.2)
Requirement already satisfied: flask-marshmallow<0.15,>=0.14 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (0.14.0)
Requirement already satisfied: flask-jwt-extended<5.0,>=4.3 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (4.4.4)
Requirement already satisfied: marshmallow-sqlalchemy<0.29,>=0.25 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (0.28.2)
Requirement already satisfied: flask-restful<0.4,>=0.3.9 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (0.3.9)
Requirement already satisfied: taipy-core<2.3,>=2.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (2.2.3)
Requirement already satisfied: flask-migrate<4.0,>=3.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (3.1.0)
Requirement already satisfied: passlib<1.8,>=1.7.4 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (1.7.4)
Requirement already satisfied: apispec[yaml]<6.0,>=5.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-rest<2.3,>=2.2->taipy) (5.2.2)
Requirement already satisfied: PyYAML>=3.10 in c:\users\teolu\anaconda3\lib\site-packages (from apispec[yaml]<6.0,>=5.1->taipy-rest<2.3,>=2.2->taipy) (6.0)
Requirement already satisfied: click>=8.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (8.0.4)
Requirement already satisfied: Jinja2>=3.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (3.1.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (4.11.3)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\teolu\anaconda3\lib\site-packages (from flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (2.3.1)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (2.0.1)
Requirement already satisfied: Six in c:\users\teolu\anaconda3\lib\site-packages (from flask-cors<4.0,>=3.0.10->taipy-gui<2.3,>=2.2->taipy) (1.16.0)
Requirement already satisfied: PyJWT<3.0,>=2.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask-jwt-extended<5.0,>=4.3->taipy-rest<2.3,>=2.2->taipy) (2.4.0)
Requirement already satisfied: marshmallow>=2.0.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask-marshmallow<0.15,>=0.14->taipy-rest<2.3,>=2.2->taipy) (3.19.0)
Requirement already satisfied: Flask-SQLAlchemy>=1.0 in c:\users\teolu\anaconda3\lib\site-packages (from flask-migrate<4.0,>=3.1->taipy-rest<2.3,>=2.2->taipy) (3.0.3)
Requirement already satisfied: alembic>=0.7 in c:\users\teolu\anaconda3\lib\site-packages (from flask-migrate<4.0,>=3.1->taipy-rest<2.3,>=2.2->taipy) (1.10.4)
Requirement already satisfied: aniso8601>=0.82 in c:\users\teolu\anaconda3\lib\site-packages (from flask-restful<0.4,>=0.3.9->taipy-rest<2.3,>=2.2->taipy) (9.0.1)
Requirement already satisfied: python-socketio>=5.0.2 in c:\users\teolu\anaconda3\lib\site-packages (from flask-socketio<6.0,>=5.3.0->taipy-gui<2.3,>=2.2->taipy) (5.8.0)
Requirement already satisfied: zope.interface in c:\users\teolu\anaconda3\lib\site-packages (from gevent<23.0,>=22.10.2->taipy-gui<2.3,>=2.2->taipy) (5.4.0)
Requirement already satisfied: setuptools in c:\users\teolu\anaconda3\lib\site-packages (from gevent<23.0,>=22.10.2->taipy-gui<2.3,>=2.2->taipy) (63.4.1)
Requirement already satisfied: greenlet>=2.0.0 in c:\users\teolu\anaconda3\lib\site-packages (from gevent<23.0,>=22.10.2->taipy-gui<2.3,>=2.2->taipy) (2.0.2)
Requirement already satisfied: zope.event in c:\users\teolu\anaconda3\lib\site-packages (from gevent<23.0,>=22.10.2->taipy-gui<2.3,>=2.2->taipy) (4.6)
Requirement already satisfied: cffi>=1.12.2 in c:\users\teolu\anaconda3\lib\site-packages (from gevent<23.0,>=22.10.2->taipy-gui<2.3,>=2.2->taipy) (1.15.1)
Requirement already satisfied: SQLAlchemy<2.0,>=1.3.0 in c:\users\teolu\anaconda3\lib\site-packages (from marshmallow-sqlalchemy<0.29,>=0.25->taipy-rest<2.3,>=2.2->taipy) (1.4.39)
Requirement already satisfied: packaging>=21.3 in c:\users\teolu\anaconda3\lib\site-packages (from marshmallow-sqlalchemy<0.29,>=0.25->taipy-rest<2.3,>=2.2->taipy) (21.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\teolu\anaconda3\lib\site-packages (from pandas<2.0,>=1.5.1->taipy-gui<2.3,>=2.2->taipy) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\teolu\anaconda3\lib\site-packages (from pandas<2.0,>=1.5.1->taipy-gui<2.3,>=2.2->taipy) (1.21.0)
Requirement already satisfied: wsproto in c:\users\teolu\anaconda3\lib\site-packages (from simple-websocket<1.0,>=0.9->taipy-gui<2.3,>=2.2->taipy) (1.2.0)
Requirement already satisfied: deepdiff<6.3,>=6.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-config<3.0,>=2.2->taipy-gui<2.3,>=2.2->taipy) (6.2.3)
Requirement already satisfied: toml<0.11,>=0.10 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-config<3.0,>=2.2->taipy-gui<2.3,>=2.2->taipy) (0.10.2)
Requirement already satisfied: pyarrow<11.0,>=10.0.1 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (10.0.1)
Requirement already satisfied: modin[dask]<1.0,>=0.16.2 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (0.20.1)
Requirement already satisfied: networkx<3.0,>=2.6 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2.8.4)
Requirement already satisfied: openpyxl<3.1,>=3.0.7 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (3.0.10)
Requirement already satisfied: pymongo<5.0,>=4.2.0 in c:\users\teolu\anaconda3\lib\site-packages (from taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (4.3.3)
Requirement already satisfied: tzdata in c:\users\teolu\anaconda3\lib\site-packages (from tzlocal<5.0,>=3.0->taipy-gui<2.3,>=2.2->taipy) (2023.3)
Requirement already satisfied: pytz-deprecation-shim in c:\users\teolu\anaconda3\lib\site-packages (from tzlocal<5.0,>=3.0->taipy-gui<2.3,>=2.2->taipy) (0.1.0.post0)
Requirement already satisfied: typing-extensions>=4 in c:\users\teolu\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<2.3,>=2.2->taipy) (4.3.0)
Requirement already satisfied: Mako in c:\users\teolu\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<2.3,>=2.2->taipy) (1.2.4)
Requirement already satisfied: pycparser in c:\users\teolu\anaconda3\lib\site-packages (from cffi>=1.12.2->gevent<23.0,>=22.10.2->taipy-gui<2.3,>=2.2->taipy) (2.21)
Requirement already satisfied: colorama in c:\users\teolu\anaconda3\lib\site-packages (from click>=8.0->flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (0.4.5)
Requirement already satisfied: ordered-set<4.2.0,>=4.0.2 in c:\users\teolu\anaconda3\lib\site-packages (from deepdiff<6.3,>=6.2->taipy-config<3.0,>=2.2->taipy-gui<2.3,>=2.2->taipy) (4.1.0)
Requirement already satisfied: orjson in c:\users\teolu\anaconda3\lib\site-packages (from deepdiff<6.3,>=6.2->taipy-config<3.0,>=2.2->taipy-gui<2.3,>=2.2->taipy) (3.8.11)
Requirement already satisfied: zipp>=0.5 in c:\users\teolu\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\teolu\anaconda3\lib\site-packages (from Jinja2>=3.0->flask<2.3,>=2.2->taipy-gui<2.3,>=2.2->taipy) (2.1.2)
Requirement already satisfied: psutil in c:\users\teolu\anaconda3\lib\site-packages (from modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (5.9.0)
Requirement already satisfied: fsspec in c:\users\teolu\anaconda3\lib\site-packages (from modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2022.7.1)
Requirement already satisfied: dask>=2.22.0 in c:\users\teolu\anaconda3\lib\site-packages (from modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2022.7.0)
Requirement already satisfied: distributed>=2.22.0 in c:\users\teolu\anaconda3\lib\site-packages (from modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2022.7.0)
Requirement already satisfied: et_xmlfile in c:\users\teolu\anaconda3\lib\site-packages (from openpyxl<3.1,>=3.0.7->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\teolu\anaconda3\lib\site-packages (from packaging>=21.3->marshmallow-sqlalchemy<0.29,>=0.25->taipy-rest<2.3,>=2.2->taipy) (3.0.9)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\teolu\anaconda3\lib\site-packages (from pymongo<5.0,>=4.2.0->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2.3.0)
Requirement already satisfied: bidict>=0.21.0 in c:\users\teolu\anaconda3\lib\site-packages (from python-socketio>=5.0.2->flask-socketio<6.0,>=5.3.0->taipy-gui<2.3,>=2.2->taipy) (0.22.1)
Requirement already satisfied: python-engineio>=4.3.0 in c:\users\teolu\anaconda3\lib\site-packages (from python-socketio>=5.0.2->flask-socketio<6.0,>=5.3.0->taipy-gui<2.3,>=2.2->taipy) (4.4.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\teolu\anaconda3\lib\site-packages (from wsproto->simple-websocket<1.0,>=0.9->taipy-gui<2.3,>=2.2->taipy) (0.14.0)
Requirement already satisfied: toolz>=0.8.2 in c:\users\teolu\anaconda3\lib\site-packages (from dask>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (0.11.2)
Requirement already satisfied: cloudpickle>=1.1.1 in c:\users\teolu\anaconda3\lib\site-packages (from dask>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2.0.0)
Requirement already satisfied: partd>=0.3.10 in c:\users\teolu\anaconda3\lib\site-packages (from dask>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.2.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2.4.0)
Requirement already satisfied: zict>=0.1.3 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (2.1.0)
Requirement already satisfied: locket>=1.0.0 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.0.0)
Requirement already satisfied: msgpack>=0.6.0 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.0.3)
Requirement already satisfied: tornado<6.2,>=6.0.3 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (6.1)
Requirement already satisfied: tblib>=1.6.0 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.7.0)
Requirement already satisfied: urllib3 in c:\users\teolu\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.26.11)
Requirement already satisfied: heapdict in c:\users\teolu\anaconda3\lib\site-packages (from zict>=0.1.3->distributed>=2.22.0->modin[dask]<1.0,>=0.16.2->taipy-core<2.3,>=2.2->taipy-rest<2.3,>=2.2->taipy) (1.0.1)

In [ ]:
df = pd.read_csv("final.csv")

In [ ]:
df.shape

(1150, 3)

In [ ]:
df.head()

,Patterns,Target,Target_class
0,The column col1 has unique values.,df['col1'].nunique(),0
1,The column col1 has all unique values.,df['col1'].nunique(),0
2,"In the column col1, display all unique values.",df['col1'].nunique(),0
3,"In the column col1, display all the unique val...",df['col1'].nunique(),0
4,The column col1 contains all unique values.,df['col1'].nunique(),0

In [ ]:
df = shuffle(df)

In [ ]:
df.head()

,Patterns,Target,Target_class
302,The dataframe is sorted by col1 and col2.,"df.sort_values(by=['col1', 'col2'],inplace =True)",2
772,Is there a list of col1 and col2.,"new_df=df.loc[:, ['col1','col2']]",5
585,The col1 column was dropped.,"df.drop(columns = 'col1',inplace = True)",4
484,Let's drop the col1 column.,"df.drop(columns = 'col1',inplace = True)",4
1037,You can display a bar chart of col1 and col2,<|{dataset}|chart|type=bar|x=col1|y=col2|heigh...,7

In [ ]:
num_classes = df.Target.unique().size
print(num_classes)

10

In [ ]:
train_size = int(df.shape[0] * 0.6)
val_size = int(df.shape[0] * 0.2)
test_size = int(df.shape[0] * 0.2)
train_df = df[:train_size]
val_df = df[train_size:train_size+val_size]
test_df = df[train_size + val_size:]

train_sentences = train_df.Patterns.to_numpy()
train_labels = train_df.Target_class.to_numpy()
val_sentences = val_df.Patterns.to_numpy()
val_labels = val_df.Target_class.to_numpy()
test_sentences = test_df.Patterns.to_numpy()
test_labels = test_df.Target_class.to_numpy()

In [ ]:
train_sentences.shape, val_sentences.shape, test_sentences.shape

((690,), (230,), (230,))

In [ ]:
model_ckpt = "distilbert-base-uncased"
tokenizer = AutoTokenizer.from_pretrained(model_ckpt)

In [ ]:
def tokenize(batch):
    return tokenizer(batch["text"], padding=True, truncation=True)

In [ ]:
encoded_text = tokenizer(train_sentences[0], padding=True, truncation=True)
encoded_text

{'input_ids': [101, 1996, 2951, 15643, 2003, 19616, 2011, 8902, 2487, 1998, 8902, 2475, 1012, 102], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [ ]:
tokens = tokenizer.convert_ids_to_tokens(encoded_text.input_ids)
tokens

['[CLS]',
 'the',
 'data',
 '##frame',
 'is',
 'sorted',
 'by',
 'col',
 '##1',
 'and',
 'col',
 '##2',
 '.',
 '[SEP]']

In [ ]:
text = tokenizer.convert_tokens_to_string(tokens)
text

'[CLS] the dataframe is sorted by col1 and col2. [SEP]'

In [ ]:
def tokenize(batch):
    toReturn = [None] * len(batch)
    for i in range(len(batch)):
        toReturn[i] = tokenizer(batch[i], padding=True, truncation=True)
    return toReturn

In [ ]:
train_encoded = tokenize(train_sentences)
val_encoded = tokenize(val_sentences)
test_encoded = tokenize(test_sentences)

In [ ]:
def sequences(tokenized_arr):
    toReturn = [None] * len(tokenized_arr)
    for i in range(len(tokenized_arr)):
        toReturn[i] = tokenized_arr[i].input_ids
    return toReturn

In [ ]:
train_sequences = sequences(train_encoded)
val_sequences = sequences(val_encoded)
test_sequences = sequences(test_encoded)

In [ ]:
def sequencesToToken(sequences):
    toReturn = [None] * len(sequences)
    for i in range(len(sequences)):
        toReturn[i] = tokenizer.convert_ids_to_tokens(sequences[i])
    return toReturn

In [ ]:
train_tokens = sequencesToToken(train_sequences)

In [ ]:
print(train_sentences[10:15])
print(train_sequences[10:15])
print(train_tokens[10:15])

['The dataframe should be sorted by col1 and col2.'
 'A line chart of col1 and col2.' 'Cut the col1 column in half.'
 'Drop the col1 column, please.' 'The dataframe can besorted by col1']
[[101, 1996, 2951, 15643, 2323, 2022, 19616, 2011, 8902, 2487, 1998, 8902, 2475, 1012, 102], [101, 1037, 2240, 3673, 1997, 8902, 2487, 1998, 8902, 2475, 1012, 102], [101, 3013, 1996, 8902, 2487, 5930, 1999, 2431, 1012, 102], [101, 4530, 1996, 8902, 2487, 5930, 1010, 3531, 1012, 102], [101, 1996, 2951, 15643, 2064, 2022, 21748, 3064, 2011, 8902, 2487, 102]]
[['[CLS]', 'the', 'data', '##frame', 'should', 'be', 'sorted', 'by', 'col', '##1', 'and', 'col', '##2', '.', '[SEP]'], ['[CLS]', 'a', 'line', 'chart', 'of', 'col', '##1', 'and', 'col', '##2', '.', '[SEP]'], ['[CLS]', 'cut', 'the', 'col', '##1', 'column', 'in', 'half', '.', '[SEP]'], ['[CLS]', 'drop', 'the', 'col', '##1', 'column', ',', 'please', '.', '[SEP]'], ['[CLS]', 'the', 'data', '##frame', 'can', 'be', '##sor', '##ted', 'by', 'col', '##1', '[SEP]']]

In [ ]:
max_length = 20

train_padded = pad_sequences(train_sequences, maxlen=max_length, padding='post', truncating='post')
val_padded = pad_sequences(val_sequences, maxlen=max_length, padding='post', truncating='post')
test_padded = pad_sequences(test_sequences, maxlen=max_length, padding='post', truncating='post')
train_padded.shape, val_padded.shape, test_padded.shape

((690, 20), (230, 20), (230, 20))

In [ ]:
train_padded[10:15]

array([[  101,  1996,  2951, 15643,  2323,  2022, 19616,  2011,  8902,
         2487,  1998,  8902,  2475,  1012,   102,     0,     0,     0,
            0,     0],
       [  101,  1037,  2240,  3673,  1997,  8902,  2487,  1998,  8902,
         2475,  1012,   102,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  101,  3013,  1996,  8902,  2487,  5930,  1999,  2431,  1012,
          102,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  101,  4530,  1996,  8902,  2487,  5930,  1010,  3531,  1012,
          102,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [  101,  1996,  2951, 15643,  2064,  2022, 21748,  3064,  2011,
         8902,  2487,   102,     0,     0,     0,     0,     0,     0,
            0,     0]])

In [ ]:
model = keras.models.Sequential()
model.add(layers.Embedding(tokenizer.vocab_size, 32, input_length=max_length))

model.add(layers.LSTM(64, dropout=0.1))
model.add(layers.Dense(num_classes, activation="softmax"))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 20, 32)            976704

 lstm (LSTM)                 (None, 64)                24832

 dense (Dense)               (None, 10)                650

=================================================================
Total params: 1,002,186
Trainable params: 1,002,186
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer=keras.optimizers.Adam(learning_rate=0.001),loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [ ]:
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath='fyp.h5', mode='max', monitor='val_accuracy', verbose=2, save_best_only=True, save_weights_only=False)
callbacks_list = [checkpoint]
model.fit(train_padded, train_labels, epochs=20, validation_data=(val_padded, val_labels), verbose=2, callbacks=callbacks_list)

Epoch 1/20

Epoch 1: val_accuracy improved from -inf to 0.16957, saving model to fyp.h5
22/22 - 4s - loss: 2.2418 - accuracy: 0.1652 - val_loss: 2.0659 - val_accuracy: 0.1696 - 4s/epoch - 162ms/step
Epoch 2/20

Epoch 2: val_accuracy improved from 0.16957 to 0.19565, saving model to fyp.h5
22/22 - 1s - loss: 1.9655 - accuracy: 0.2043 - val_loss: 1.6998 - val_accuracy: 0.1957 - 904ms/epoch - 41ms/step
Epoch 3/20

Epoch 3: val_accuracy improved from 0.19565 to 0.60870, saving model to fyp.h5
22/22 - 1s - loss: 1.5507 - accuracy: 0.3333 - val_loss: 1.2532 - val_accuracy: 0.6087 - 744ms/epoch - 34ms/step
Epoch 4/20

Epoch 4: val_accuracy improved from 0.60870 to 0.64783, saving model to fyp.h5
22/22 - 1s - loss: 1.1280 - accuracy: 0.5406 - val_loss: 0.9901 - val_accuracy: 0.6478 - 848ms/epoch - 39ms/step
Epoch 5/20

Epoch 5: val_accuracy improved from 0.64783 to 0.77391, saving model to fyp.h5
22/22 - 1s - loss: 0.8240 - accuracy: 0.7420 - val_loss: 0.6685 - val_accuracy: 0.7739 - 832ms/epoch - 38ms/step
Epoch 6/20

Epoch 6: val_accuracy did not improve from 0.77391
22/22 - 1s - loss: 0.6568 - accuracy: 0.7710 - val_loss: 0.6181 - val_accuracy: 0.7696 - 808ms/epoch - 37ms/step
Epoch 7/20

Epoch 7: val_accuracy did not improve from 0.77391
22/22 - 1s - loss: 0.6271 - accuracy: 0.7652 - val_loss: 0.6134 - val_accuracy: 0.7652 - 656ms/epoch - 30ms/step
Epoch 8/20

Epoch 8: val_accuracy did not improve from 0.77391
22/22 - 1s - loss: 0.6061 - accuracy: 0.7725 - val_loss: 0.5748 - val_accuracy: 0.7696 - 688ms/epoch - 31ms/step
Epoch 9/20

Epoch 9: val_accuracy did not improve from 0.77391
22/22 - 1s - loss: 0.5707 - accuracy: 0.7739 - val_loss: 0.5535 - val_accuracy: 0.7739 - 800ms/epoch - 36ms/step
Epoch 10/20

Epoch 10: val_accuracy improved from 0.77391 to 0.81304, saving model to fyp.h5
22/22 - 1s - loss: 0.5266 - accuracy: 0.7739 - val_loss: 0.4741 - val_accuracy: 0.8130 - 840ms/epoch - 38ms/step
Epoch 11/20

Epoch 11: val_accuracy did not improve from 0.81304
22/22 - 1s - loss: 0.4445 - accuracy: 0.8087 - val_loss: 0.3959 - val_accuracy: 0.8087 - 816ms/epoch - 37ms/step
Epoch 12/20

Epoch 12: val_accuracy improved from 0.81304 to 0.85652, saving model to fyp.h5
22/22 - 1s - loss: 0.3966 - accuracy: 0.8507 - val_loss: 0.3726 - val_accuracy: 0.8565 - 857ms/epoch - 39ms/step
Epoch 13/20

Epoch 13: val_accuracy improved from 0.85652 to 0.90435, saving model to fyp.h5
22/22 - 1s - loss: 0.3537 - accuracy: 0.8754 - val_loss: 0.3114 - val_accuracy: 0.9043 - 848ms/epoch - 39ms/step
Epoch 14/20

Epoch 14: val_accuracy improved from 0.90435 to 0.94783, saving model to fyp.h5
22/22 - 1s - loss: 0.2949 - accuracy: 0.9362 - val_loss: 0.2553 - val_accuracy: 0.9478 - 792ms/epoch - 36ms/step
Epoch 15/20

Epoch 15: val_accuracy did not improve from 0.94783
22/22 - 1s - loss: 0.2441 - accuracy: 0.9304 - val_loss: 0.2120 - val_accuracy: 0.9087 - 768ms/epoch - 35ms/step
Epoch 16/20

Epoch 16: val_accuracy improved from 0.94783 to 0.96957, saving model to fyp.h5
22/22 - 1s - loss: 0.1915 - accuracy: 0.9652 - val_loss: 0.1658 - val_accuracy: 0.9696 - 856ms/epoch - 39ms/step
Epoch 17/20

Epoch 17: val_accuracy did not improve from 0.96957
22/22 - 1s - loss: 0.1485 - accuracy: 0.9870 - val_loss: 0.1558 - val_accuracy: 0.9522 - 824ms/epoch - 37ms/step
Epoch 18/20

Epoch 18: val_accuracy improved from 0.96957 to 0.98261, saving model to fyp.h5
22/22 - 1s - loss: 0.1167 - accuracy: 0.9884 - val_loss: 0.1282 - val_accuracy: 0.9826 - 800ms/epoch - 36ms/step
Epoch 19/20

Epoch 19: val_accuracy did not improve from 0.98261
22/22 - 1s - loss: 0.1145 - accuracy: 0.9696 - val_loss: 0.1537 - val_accuracy: 0.9435 - 800ms/epoch - 36ms/step
Epoch 20/20

Epoch 20: val_accuracy did not improve from 0.98261
22/22 - 1s - loss: 0.0874 - accuracy: 0.9870 - val_loss: 0.1112 - val_accuracy: 0.9696 - 808ms/epoch - 37ms/step

In [ ]:
model_json = model.to_json()
with open("fyp.json", "w") as json_file:
    json_file.write(model_json)

In [ ]:
predictions = model.predict(test_padded)

8/8 [==============================] - 1s 9ms/step

In [ ]:
predictions_int = np.argmax(predictions, axis=1)

In [ ]:
print(test_sentences[10:15])
print(test_labels[10:15])
print(predictions_int[10:15])

['You can display all unique values in the column col1.'
 'Tell me how many values are in col1' 'Use col 1 to sort the dataframe.'
 'The pie chart has col1 and col2 in it.'
 'Look at a line chart of col1 and col2.']
[0 6 1 8 9]
[0 6 1 8 9]

In [ ]:
test_loss, test_acc = model.evaluate(test_padded, test_labels)

8/8 [==============================] - 0s 9ms/step - loss: 0.1890 - accuracy: 0.9522

In [ ]:
target_arr = ["df['col1'].nunique()",
             "df.sort_values(by=['col1'],inplace =True)",
             "df.sort_values(by=['col1', 'col2'],inplace =True)",
             "df.sort_values(by=['col1', 'col2', 'col3'],inplace =True)",
             "df.drop(columns = 'col1',inplace = True)",
             "new_df=df.loc[:, ['col1','col2']]",
             "df['col1'].value_counts()",
             "<|{dataset}|chart|type=bar|x=col1|y=col2|height=100%|>",
             "<|{dataset}|chart|type=pie|values=col2|labels=col1|height=100%|>",
             "<|{dataset}|chart|mode=lines|x=col1|y=col2|>"]

In [ ]:
df = pd.read_csv("sample_dataframe.csv")
df

   ID   Name  Salary  Age        Position    Address
0   1    Tom   50000   28         Analyst  Something
1   2  Harry   80000   32        Director  Something
2   3   Mary   20000   24          Intern   Anything
3   4    Jim  100000   40  Senior Manager    Nothing
4   5   Lily   95000   38         Manager  Something

In [ ]:
df = pd.read_csv("sample_dataframe.csv")
df

   ID   Name  Salary  Age        Position    Address
0   1    Tom   50000   28         Analyst  Something
1   2  Harry   80000   32        Director  Something
2   3   Mary   20000   24          Intern   Anything
3   4    Jim  100000   40  Senior Manager    Nothing
4   5   Lily   95000   38         Manager  Something

In [ ]:
cols = df.columns
cols

Index(['ID', 'Name', 'Salary', 'Age', 'Position', 'Address'], dtype='object')

In [ ]:
sentence = "Show me a pie chart of Salary for Name"
# print(sentence.split())
words = sentence.split()
cols_requested = []
for item in cols:
  # print(item)
  for word in words:
    if(item.upper() == word.upper()):
      cols_requested.append(item)

cols_requested

['Name', 'Salary']

In [ ]:
general_sentence = sentence
for i in range(len(cols_requested)):
    general_sentence = general_sentence.replace(cols_requested[i], "col" + str(i+1))
general_sentence

'Show me a pie chart of col2 for col1'

In [ ]:
def tokenize(batch):
    return tokenizer(batch, padding=True, truncation=True)

In [ ]:
test_sentence = [general_sentence]
test_sequence = tokenize(test_sentence).input_ids
test_sequence

[[101, 2265, 2033, 1037, 11345, 3673, 1997, 8902, 2475, 2005, 8902, 2487, 102]]

In [ ]:
max_length = 20

test_padded = pad_sequences(test_sequence, maxlen=max_length, padding='post', truncating='post')
test_padded

array([[  101,  2265,  2033,  1037, 11345,  3673,  1997,  8902,  2475,
         2005,  8902,  2487,   102,     0,     0,     0,     0,     0,
            0,     0]])

In [ ]:
prediction = model.predict(test_padded)
prediction_int = np.argmax(prediction, axis=1)
prediction_int[0]

1/1 [==============================] - 0s 32ms/step

9

In [ ]:
if prediction_int[0] < 7:
    panda_query = target_arr[prediction_int[0]]
    for i in range(len(cols_requested)):
        panda_query = panda_query.replace("col" + str(i+1), cols_requested[i])
    print(panda_query)
    exec(panda_query)
else:
    taipy_query = target_arr[prediction_int[0]]
    dataset = df
    for i in range(len(cols_requested)):
        taipy_query = taipy_query.replace("col" + str(i+1), cols_requested[i])
    taipy_query

    page = """{0}"""
    page = page.format(taipy_query)
    print(page)
    gui = Gui(page)
    gui.run()

<|{dataset}|chart|mode=lines|x=Name|y=Salary|>
[2023-04-28 14:22:49,084][Taipy][INFO] Running in 'single_client' mode in notebook environment
[2023-04-28 14:22:49,440][Taipy][INFO]  * Server starting on http://127.0.0.1:5000

UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms

In [ ]:
df

   ID   Name  Salary  Age        Position    Address
0   1    Tom   50000   28         Analyst  Something
1   2  Harry   80000   32        Director  Something
2   3   Mary   20000   24          Intern   Anything
3   4    Jim  100000   40  Senior Manager    Nothing
4   5   Lily   95000   38         Manager  Something

UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms